channels==4.2.0
daphne==4.2.1
Django==6.0.7
django-cors-headers==4.9.0
djangorestframework==3.16.0
oracledb==4.0.0
panda-authz==2.0.0
python-dotenv==1.2.2
social-auth-app-django==5.4.3
social-auth-core==4.6.1
twisted[http2,tls]==25.5.0
cryptography==45.0.7
pyOpenSSL==25.1.0