
:host ::ng-deep .p-menubar-start {
	>a {
		color: var(--pui-surface-50);
		font-weight: bold;
		text-decoration: none;
    margin: auto 0.75rem;
	}
}
:host ::ng-deep .p-menubar-end {
  padding-right: 0.5rem;
}

:host ::ng-deep .p-menubar {
  border: none;
}

