<mat-menu #menu="matMenu" class="header-dark-menu">
  @for (item of userMenu; track item.label) {
  <button mat-menu-item [routerLink]="item.routerLink || null" (click)="item.command?.($event)">
    @if (item.icon) {
    <mat-icon>{{ item.icon }}</mat-icon>
    }
    <span>{{ item.label }}</span>
  </button>
  }
</mat-menu>

@if (user$ | async; as user) {
<div class="user-menu-wrapper">
  <button
    class="avatar-button"
    mat-icon-button
    [attr.aria-label]="'User menu for ' + user.initials"
    [matMenuTriggerFor]="menu">
    {{ user.initials }}
  </button>
</div>
} @else {
<div class="login-wrapper">
  <button class="login-button" mat-button (click)="login()">Login</button>
</div>
}
