:host {
  .user-menu-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 0.5rem;
  }

  button[mat-icon-button].avatar-button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
    font-size: 0.875rem;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      font-weight 0.2s ease,
      text-shadow 0.2s ease;

    --mat-mdc-button-hover-state-layer-opacity: 0;
    --mat-mdc-button-focus-state-layer-opacity: 0;

    .mat-mdc-button-persistent-ripple,
    .mat-mdc-button-touch-target,
    .mat-mdc-button-ripple {
      display: none;
    }

    &:hover,
    &:focus-visible,
    &[aria-expanded='true'] {
      background-color: var(--mat-sys-tertiary-container);
      font-weight: 700;
      text-shadow: 0 0 0.5px currentColor;
    }
  }
}
