<ng-container *ngIf="user; else loginBtn">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ user.initials }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" routerLink="/user/profile">Profile</a></li>
      <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
    </ul>
  </li>
</ng-container>
<ng-template #loginBtn>
  <li class="nav-item">
    <a class="nav-link" (click)="login()">Login</a>
  </li>
</ng-template>


