/* All styles are defined in app/core/theme/custom-preset following PrimeNG theming philosophy */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

html {
  font-size: 14px;
  line-height: 1.2;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
