/* All styles are defined in app/core/theme/custom-preset following PrimeNG theming philosophy */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

html {
  font-size: 14px;
  line-height: 1.2;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* user menu in overlay attached to body for right placement and alignment */
.login-avatar-menu {
  &.p-menu-overlay {
    transform: translateX(calc(-100% + 3rem)) !important;
    transform-origin: top right !important;
    background-color: var(--pui-surface-900);
    border-color: var(--pui-surface-900);
    border-radius: 0;
    min-width: 10rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  }

  .p-menu-list {
    background-color: var(--pui-surface-900);
    padding: 0;
  }

  .p-menu-item:not(.p-disabled) {
    .p-menu-item-content {
      color: var(--pui-surface-100);

      &:hover,
      &:focus {
        color: var(--pui-surface-100);
        background-color: var(--pui-surface-800);
      }
    }
  }
}
