/* All styles are defined in app/core/theme/custom-preset following PrimeNG theming philosophy */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

