@if (user$ | async; as user) {
<table class="w-full text-left divide-y overflow-hidden mt-2">
  <tbody>
    <tr>
      <td>Username</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>First name</td>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <td>Family name</td>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Groups</td>
      <td>{{ user.groups.length ? user.groups.join(', ') : '—' }}</td>
    </tr>
    <tr>
      <td>Permissions</td>
      <td>{{ user.permissions.length ? user.permissions.join(', ') : '—' }}</td>
    </tr>
  </tbody>
</table>

<p>
  <button class="mt-3" mat-flat-button [disabled]="loadingToken" (click)="loadToken()">
    @if (loadingToken) {
    <mat-spinner class="mr-2 inline-block" diameter="18" />
    } @else {
    <mat-icon>key</mat-icon>
    } Get Token
  </button>
</p>

@if (token$ | async; as token) {
<div class="mt-3 p-2">
  <strong>Your token: </strong><code>{{ token }}</code>
</div>
} }
