[Unit]
Description=Daphne ASGI server for PanDA UI
After=network.target

[Service]
User=atlpan
Group=zp
WorkingDirectory=/opt/pandaui
ExecStart=/opt/pandaui/venv/bin/daphne -u /tmp/daphne.sock rest_api.asgi:application
Restart=always
Environment="DJANGO_SETTINGS_MODULE=rest_api.settings"

[Install]
WantedBy=multi-user.target