<footer class="footer-container mt-1">
  <div class="footer-left">
    <span>&copy; 2005-{{ currentYear }}, PanDA team</span>
  </div>

  <!-- Right: social links -->
  <ul class="footer-right">
    <!-- Docs -->
    <li>
      <a aria-label="Documentation" class="footer-link" href="https://panda-wms.readthedocs.io/" target="_blank">
        <mat-icon>auto_stories</mat-icon>
        <span>Docs</span>
      </a>
    </li>
    <!-- GitHub -->
    <li>
      <a aria-label="GitHub" class="footer-link" href="https://github.com/PanDAWMS/panda-ui/" target="_blank">
        <mat-icon>code</mat-icon>
        <span class="version-text">{{ appVersion() }}</span>
      </a>
    </li>
  </ul>
</footer>
