name: CI PR

on:
  pull_request:
    branches: [main]

jobs:
  build-pr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Read version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Set PR version
        run: echo "VERSION=${{ env.VERSION }}-pr${{ github.event.pull_request.number }}+${{ github.sha }}" >> $GITHUB_ENV


